/* CSS declarations go here */

.social-media-icon {
  display: inline-block;
}


.source-code-button {
  margin: 0 auto;
}

.screenshot-triptych {
  margin-top: 2em;
  margin-bottom: 2em;;
}

#iep-description {
  margin-top: 3em;
}

#iep-learn-more {
  margin-top: 2em;
}

/*.project-image {
  margin-top: 20px;
  margin-bo: 10px;
  max-height: 300px;
}*/
