/* CSS declarations go here */

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}


.social-media-icon {
  display: inline-block;
}


.source-code-button {
  margin: 0 auto;
}


#iep-description {
  margin-top: 30px;;
}


#app-demo-vid {
  position: relative;
}

/*#app-demo-iphone {
  position: absolute;
  top: 40px;
  z-index: 1;

}*/

#app-demo-iframe {
  position: absolute;
  top: -607px;
  left: 23px;
  z-index: -1;
}

/*.project-image {
  margin-top: 20px;
  margin-bo: 10px;
  max-height: 300px;
}*/
